.top {
    display: flex;
    justify-content: flex-end;
    background-color: #789DBC;
    padding: 20px;
    font-family: 'Maven Pro', sans-serif;
    border: white solid 2px;
}

.menu {
    color: white;
    text-decoration: none; 
    padding: 20px;
    font-size: 30px;
}
.menu:hover {
    color: #FF8A8A;
}
.main {
    margin-right: auto;
    margin-left: 0px;
    }

img {
    opacity: 80%;
    margin-left: 3%;
    margin-top: 3%;
    border-radius: 3%;
    }

.first_block {
    display: flex;
    flex-direction: row;
    justify-content: left;

}


.entrance {
    margin-left: 10%;
    margin-top: 3%;
}




.back {
    width: 100%;
    height:max-content;
    opacity: 0.3;
}



.program_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }

.menu_1 {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    background-color: #F0E4D3;
}

.class_descr {
    color: #4867aa;
    font-family: 'Maven Pro', sans-serif;
    font-size: 20px;
    }

.inside {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-family: 'Maven Pro', sans-serif;
    color: #789DBC;
}
.but_ins {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    }

    .head_courses {
        display: flex;
        flex-direction: row;
        margin-left: 10%;    
    }

    .icon {
        margin-right: 10%;
    }

.cta_city {
    border: white solid 2px;
    border-radius: 3px;
    padding: 5px;
    background-color: #789DBC;
    font-family: 'Maven Pro', sans-serif;
    font-size: 20px;
    width: 200px;
    align-self: center;
    color: #fff; 
}

.cta_city:hover {
    background-color: #4867aa;
    color: white;
    cursor: pointer
}





    .comanda {
        display: flex;
        justify-content: center;
        
    }

    .present {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    .member {
        display: flex;
        max-width: 700px;
        margin: 0 auto;
    }

    .plan {
        display: flex;
        flex-direction: row;
        margin: 20px;
        padding: 20px;
        }

        .anketa {
            display: flex;
            justify-content: center;
            align-items: center;
            
        }

        .form {
            display: flex;
            flex-direction:column;
            width: 400px;
            height: 400px;
            font-family: 'Maven Pro', sans-serif;
            color: white;
            font-size: 20px;
            padding: 20px;
            border: white solid 2px;
            border-radius: 10px;
            background-color: #789DBC;
        }
        .comment {
            height: 100px;
            resize: none;
            font-family: 'Maven Pro', sans-serif;
            }
        .placeholder {
            font-family: 'Maven Pro', sans-serif;
        }
        
        .label {
            padding: 10px;
        }
        .cta {
            border: white solid 2px;
            padding: 20px;
            background-color: white;
            font-size: 30px;
            width: 300px;
            align-self: center;
            color: black;
            border-radius: 10px;
        }
        .cta:hover {
            background-color: #4867aa;
            color: white;
            cursor: pointer
        }

        .social {
            display: flex;
            justify-content: center;
        }

        .facebook {
            color: #4867aa;
            padding: 20px;
            height: 50px;
            width: 50px; 
        }
        .whatsapp {
                color: #25d366;
                padding: 20px;
                height: 50px;
                width: 50px; 
        }
        .instagram {
            color: #cb3e7d;
            padding: 20px;
            height: 50px;
            width: 50px; 
        }
        



    .mid {
        display: flex;
        justify-content: space-around;
        background-color: #789DBC;
        font-family: 'Maven Pro', sans-serif;
        border: white solid 2px;
        margin-top: 40px;
    }
    .team {
        display: flex;
        justify-content: space-around;
        background-color: #789DBC;
        border: white solid 2px;
        margin-top: 40px;
        padding: 20px;
    }


    .meet {
        display: flex;
        justify-content: space-evenly;
        padding: 10px;
        flex-wrap: wrap;
    }


    .amanda {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 280px;
    }
    .athome {
        align-self: flex-start;
    }


.rev {
background-color: #F0E4D3;
}
    
